.app-bg { -fx-background-color: #121212; }
.sidebar { -fx-background-color: #000000; -fx-padding: 25px; }

.logo-text { -fx-text-fill: #deff9a; -fx-font-size: 24px; -fx-font-weight: bold; -fx-padding: 0 0 20 0; }
.section-title { -fx-text-fill: #b3b3b3; -fx-font-size: 12px; -fx-font-weight: bold; }

.nav-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #b3b3b3;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}
.nav-btn:hover { -fx-text-fill: #ffffff; -fx-cursor: hand; }

.main-content { -fx-padding: 30px; }
.h1-title { -fx-text-fill: #ffffff; -fx-font-size: 32px; -fx-font-weight: bold; }

/* Botones de Innovación (Píldoras) */
.mood-pill {
    -fx-background-color: #282828;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 20px;
    -fx-padding: 8px 18px;
    -fx-font-size: 14px;
}
.mood-pill:hover { -fx-background-color: #deff9a; -fx-text-fill: #000000; -fx-cursor: hand; }

/* Tarjetas de Canción */
.music-card {
    -fx-background-color: #181818;
    -fx-padding: 15px;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 5);
}
.music-card:hover { -fx-background-color: #282828; -fx-cursor: hand; }

.track-title { -fx-text-fill: #ffffff; -fx-font-weight: bold; -fx-font-size: 14px; -fx-padding: 10px 0 2px 0; }
.track-artist { -fx-text-fill: #b3b3b3; -fx-font-size: 12px; }

.player-bar { -fx-background-color: #181818; -fx-border-color: #282828; -fx-border-width: 1px 0 0 0; }
.invisible-scroll { -fx-background-color: transparent; -fx-background: transparent; }